*.h5
logs/
.venv/ 
__pycache__/
*.pyc
.ipynb_checkpoints
*.pkl
*.pkl.gz
*.csv
*.log
*.json
*.txt
*.yaml
*.yml
*.xml
*.pickle
*.pkl.bz2
*.pkl.gz
*.pkl.xz
myvenv/
venv/
env/
.env
.env.*
*.env
*.DS_Store
*.egg-info/
*.egg
*.whl
*.tar.gz
*.zip
*.tar.bz2
*.tar.xz
*.tgz
*.bak